<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Группа ТМЦ</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Обработка таблиц</h1>
            <div class="header-buttons">
                <button onclick="showDescription()">Описание</button>
                <button onclick="logout()">Выйти</button>
            </div>
        </div>
        
        <div class="status-console">
            <div id="status-messages"></div>
        </div>

        <div class="upload-section">
            <div class="upload-box">
                <label for="sklad-file">Загрузить файл из 1С:</label>
                <input type="file" id="sklad-file" accept=".xlsx">
                <button onclick="uploadFile('sklad')">Загрузить</button>
            </div>

            <div class="upload-box">
                <label for="reestr-file">Загрузить файл из Cynteka:</label>
                <input type="file" id="reestr-file" accept=".xlsx">
                <button onclick="uploadFile('reestr')">Загрузить</button>
            </div>
        </div>

        <div class="buttons">
            <button id="start-btn" onclick="startProcess()">Старт</button>
            <button id="download-btn" onclick="downloadFile()" disabled>Скачать результат</button>
            <button onclick="clearFiles()">Удалить временные файлы</button>
        </div>
    </div>

    <!-- Modal for description -->
    <div id="description-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Описание сервиса</h2>
            <p>Сервис предназначен для обработки и сопоставления данных из таблиц Excel.</p>
            <p>Здесь будет размещено подробное описание функционала сервиса.</p>
        </div>
    </div>

    <script src="/static/script.js"></script>
     <img src="href=/static/images/inzh.png" alt="" class="inzh-image">
</body>
</html>