<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Группа ТМЦ - Вход</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="login-container">
        <h1>Группа ТМЦ</h1>
        <div class="login-form">
            <form id="loginForm" method="POST" action="/login">
                <div class="form-group">
                    <label for="username">Логин:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Пароль:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Войти</button>
            </form>
            <div id="login-error" class="error-message"></div>
        </div>
        <img src="href=/static/images/inzh.png" alt="" class="inzh-image">
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
